<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <listener>
        <listener-class>web.listener.ApplicationListener</listener-class>
    </listener>

    <!--<servlet>-->
        <!--<servlet-name>TestServlet</servlet-name>-->
        <!--<servlet-class>web.servlet.TestServlet</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>web.servlet.StudentServlet</servlet-class>
    </servlet>

    <!--<servlet-mapping>-->
        <!--<servlet-name>TestServlet</servlet-name>-->
        <!--<url-pattern>/test</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
</web-app>
